/************* Alabaster Theme customizations. *************/

/* Make document width slightly larger. */
div.document {
  max-width: 1040px;
  width: auto;
}

/* Add some space between PHP doc elements. */
dl.php > dt {
  margin-top: 35px;
}

/* Fix broken whitespace pygments stylesheet. */
.highlight .w {
  text-decoration: none;
}

/* Fix backgound of code in links should not be transparent. */
a code {
  background-color: #fbfbfb;
}
